*{
    list-style: none;
    font-family: "Inter", Sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* This Mobile CSS */
.mobile-header{
    display: none;
}



/* This Desktop CSS */ 
.desktop-header{
    background: red;
}



@media (max-width: 800px) {
    .desktop-header{
        display: none;
    }
    /* Mobile */

    .mobile-header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        font-size: 10fr;
    }
    .mobile-div-menu{
        background: blue;
    }
    .mobile-div-gh{
        text-align: center;
        background: green;
    }
    .mobile-div-lang{
        background: yellow;
    }
}
