*{
    list-style: none;
    font-family: "Inter", Sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* This Mobile CSS */
.mobile-header{
    display: none;
}



/* This Desktop CSS */
.desktop-header{
    background: black;
    color: white;
}



@media (max-width: 800px) {
    .desktop-header{
        display: none;
    }
    /* Mobile */

    .mobile-header{
        display: grid;
        font-size: 15px;
        padding: 10px;
        grid-template-columns: 1fr 2fr 1fr;
        grid-gap: 1rem;
        background: black;
    }
    .mobile-div-menu{
        display: grid;
        padding: 10px;
        margin-top: 10px;
        width: auto;
    }
    .mobile-menu-line1{
        position: relative;
        margin-left: 10px;
        height: 2px;
        width: 25%;
        top: 4px;
        background: rgb(255, 255, 255);
    }
    .mobile-menu-line2{
        position: relative;
        margin-left: 10px;
        height: 2px;
        width: 25%;
        top: 4px;
        background: rgb(255, 255, 255);
    }
    .mobile-menu-line1.active{
        top: 5px;
        transform: rotateZ(45deg);
    }
    .mobile-menu-line2.active{
        top: -5px;
        transform: rotateZ(-45deg);
    }
    .mobile-div-gh{
        text-align: center;
        padding: 10px;
        color: white;
    }
    .mobile-div-lang{
        text-align: center;
    }
    img{
        margin-top: 5px;
        filter: invert(100%);
        width: 25px;
    }
}
